
#container{
    height: 600px;
    width: 80%;
    box-shadow: 0px 0px 15px #c2bfbf;
    margin-top: 60px;
    margin-left: 10%;
    padding-left: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
}
.player{
    height: auto;
    width: 15%;
    align-items: center;
    text-align: center;
    margin: 0px 15px 15px 0px;
    padding: 20px 15px 0 15px;
    border: 2px solid #c2bfbf;
    border-radius: 5px;
}
#heroes{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}
#villains{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-left: 10%;
}
.player img {
    height: auto; /* Adjust the height */
    width: 100%;  /* Adjust the width */
    object-fit: cover; /* Ensures the image is cropped appropriately if it doesn't fit the size */
    border-radius: 5px; /* Optional: add rounded corners */
}
.player .name{
    font-size: 10px;
}
.player .strength{
    font-size: 25px;
}
@media screen and (max-width:700px){
    .player{
        height: 15%;
        width: 15%;
        margin: 0px 7px 0px 0px;
    }
    #heroes{
        width: 45%;
    }
    #villains{
        width: 45%;
        margin-left: 5%;
    }
}
